.cont{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inp{
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.input {
  vertical-align:bottom;
  color: #ffffff;
  background-color: #1a1a1a;
}

.input:focus {
  background-color: #1a1a1a;
  color: rgb(255, 255, 255);
  border-color: white;
}

.input:hover {
  border-radius: 8px;
  background-color: #1a1a1a;
  color: rgb(255, 255, 255);
  border-color: white;
}

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgb(0, 0, 0);
  box-shadow: 4px 8px 19px -3px rgb(0, 0, 0);
  transition: all 250ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }

 .buts {
  align-items: center;
  height: 10dvh;
  display: flex;
  justify-content: space-evenly ;
}

.buts li {
  color: #fff;
  display: inline;
  padding-right: 7.5dvw;
  text-decoration: none;
}

.buts input {
  padding: 6px;
  margin-top: 16px;
  margin-left: 15px;
  font-size: 17px;
  border: none;
  background-color: #1a1a1a;
  color: #fff
}
