.cards {
  display: flex;
  margin-top: 5dvw;
  margin-bottom: 5dvw;
  }

  .cards .flip-card {
    background-color: transparent;
    width: 40dvw;
    height: 60dvh;
    perspective: 1000px;
    box-shadow: 30px 40px 15px 0px #121212;
  }

  
.cards .flip-card .flip-card-inner {
  position: relative;
  width: 40dvw;
  height: 60dvh;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.cards .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.cards .flip-card .flip-card-front,
.cards .flip-card .flip-card-back {
  justify-content: center;
  display: flex;
  align-items:center;
  position: absolute;
  width: 40dvw;
  height: 60dvh;
  backface-visibility: hidden;
}

.cards .flip-card .flip-card-front {
  display: flex;
  align-items: center;
  
    width: 40dvw;
    height: 60dvh;
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  color: #fff;
}

.cards .flip-card .flip-card-back {
  width: 40dvw;
  height: 60dvh;
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;

  color: black;
  transform: rotateY(180deg);
}

.imageDog {
  object-fit: contain;
  object-position: center;
  height: 60dvh;
  width: 40dvw;
  max-width: 37.5dvw;
  max-height: 55dvh;

}